@font-face {
    font-family: 'LEMON MILK';
    src: url('fonts/LEMONMILK-Bold.woff2') format('woff2'),
        url('fonts/LEMONMILK-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LEMON MILK';
    src: url('fonts/LEMONMILK-Light.woff2') format('woff2'),
        url('fonts/LEMONMILK-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Squirk';
    src: url('fonts/Squirk.woff2') format('woff2'),
        url('fonts/Squirk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --yellow: #fff200;
    --darkGrey: #494748;
    --lightGrey: #D2D2D2;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


body {
    
    font-family: 'LEMON MILK', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;    
    /* // line-height: 1.3; */
    background-color: var(--yellow);
}

a, a:visited, a:hover {
    text-decoration: none;
    color: var(--lightGrey);    
}

h2 {
    font-family: 'Squirk', sans-serif;
    font-size: 72px;
    font-weight: normal;
    color: var(--darkGrey);
}

/* Styling for nav bar */
header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1rem 10%;
    position: fixed;
    top: 0;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

/* hamburger */
.header__menu span {   
    display: none;
    width: 24px;
    height: 2px;
    background-color: var(--lightGrey);
    margin: 4px 0;
    transform-origin: 3px 1px;
    transition: all 300ms ease-in-out;
}

.open span:nth-of-type(1) {
    transform: rotate(45deg);
}
.open span:nth-of-type(2) {
    opacity: 0;
}
.open span:nth-of-type(3) {
    transform: rotate(-45deg);
}

.header__mobile {
    display: none;

}


.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-left: 2.5rem;
}

a:hover {
    color: white;
}


section {
    padding: 0 10%;
    max-width: 100%;
}

/* HERO SECTION */
.section1 {
    margin-top: 5rem;
}

/* parent flexbox */
.hero {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* div flex child for image */
.heroImage {
    max-width: 50%;
        

}
.image {
    display: block;
    height: auto;
    max-width: 80%;
    margin-right: auto;
    margin-top: 1px;
    
    
}

/* div flex child for text */
.heroText {
    max-width: 50%;
    
}

.heroText h2 {
    margin-bottom: 3.5rem;
    line-height: 1;

}

/* VIDEOS & podcasts SECTION */
.section2 {
    background-color: black;
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
}

.section2 h2 {
    color: var(--yellow);
    line-height: 1;
    margin-bottom: 4%;
}

/* grid for videos/podcasts */
.grid {
    display: grid;
    grid: repeat(2, 1fr) / repeat(2,1fr);
    gap: 40px 24px;
}

/* video wrapper to make the iframes responsive and maintain aspect ratio */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* SOCIAL MEDIA SECTION */
  .section3 {
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
}

.section3 h2 {
    line-height: 1;
    margin-bottom: 4%;
}


.sm__links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
    margin-bottom: 2%;
}

/* cards for social media */
.sm__links a {
    color: var(--darkGrey);
    padding: 40px;
    padding-top: 164px;
    /* background: whitesmoke; */
    border: 1px solid var(--darkGrey);
    border-radius: 16px;
    position: relative;
    align-self: center;
    text-align: center;
}

/* icons for sm links with pseudo classes */
.ig::before {
    position: absolute;
    content: url(assets/Icon\ awesome-instagram.svg);
    bottom: 96px;
    left: 82px;
    
}
.fb::before {
    position: absolute;
    content: url(assets/Icon\ metro-facebook.svg);
    bottom: 96px;
    left: 82px;
    
}
.yt::before {
    position: absolute;
    content: url(assets/Icon\ awesome-youtube-square.svg);
    bottom: 96px;
    left: 82px;
    
}




/* FOOTER SECTION */
footer {
    padding: 1.6% 10%;
    max-width: 100%;
    background-color: black;
}

/* flex container */
.footer__links {
    color: var(--lightGrey);
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between ;
}

span:nth-of-type(2) {
    margin-left: auto;
    margin-right: 2%;
}

/* ANIMATION */
.image:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.heroText h2:hover {
    animation: shake 0.61s;
    animation-iteration-count: infinite;
    text-shadow: 0px 2px 20px  rgba(0, 0, 0, 0.1);
}
  
.ig:hover, .fb:hover, .yt:hover {

    animation: shake 1s;
    animation-iteration-count: infinite;
    Box-shadow: 0px 0px 20px 10px  rgba(0, 0, 0, 0.1);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* for mobile screen */
@media screen and (max-width:576px) {

    h2 {
        font-size: 2rem;
    }
    header {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 0.75rem 6%;
        position: fixed;
        top: 0;
        z-index: 999;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }
    
    /* hamburger */
    .header__menu span {   
        display: block;
    }
        
    .logo {
        font-weight: bold;
        font-size: 1rem;
    }

    .header__mobile.open {
        display: block;
        margin-top: 4%;
        opacity: 1;
    }

    .header__mobile.open li{
        margin: 8% 0;
        font-size: 1rem;

    }
    ul {
        display: none;
    }

    section {
        padding: 0 6%;
        max-width: 100%;
    }
    
    /* HERO SECTION */
    .section1 {
        margin-top: 4rem;
    }
    
    /* parent flexbox */
    .hero {
        display: flex;
        max-width: 100%;
        justify-content: space-evenly;
        align-items: center;
        }
    
    /* div flex child for image */
    .heroImage {
        max-width: 50%;
            
    
    }
    .image {
        display: block;
        height: auto;
        max-width: 100%;
        margin-right: auto;
        margin-top: 1px;
        
        
    }
    
    /* div flex child for text */
    .heroText {
        max-width: 50%;
        
    }
    
    .heroText h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        line-height: 1;
    
    }
    
    /* VIDEOS & podcasts SECTION */
    .section2 {
        background-color: black;
        padding-top: 6%;
        padding-bottom: 6%;
        text-align: center;
    }
    
    .section2 h2 {
        color: var(--yellow);
        line-height: 1;
        margin-bottom: 4%;
    }
    
    /* grid for videos/podcasts */
    .grid {
        display: grid;
        grid: repeat(4, 1fr) / repeat(1,1fr);
        gap: 40px 24px;
    }
    
    /* video wrapper to make the iframes responsive and maintain aspect ratio */
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
    }
    
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    /* SOCIAL MEDIA SECTION */
    .section3 {
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
    }
    
    .section3 h2 {
        line-height: 1;
        margin-bottom: 4%;
    }
    
    
    .sm__links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 8%;
        margin-bottom: 2%;
    }
    
    /* cards for social media */
    .sm__links a {
        color: var(--darkGrey);
        font-size: 0.875rem;
        padding: 32px;
        padding-top: 116px;
        border: 1px solid var(--darkGrey);
        border-radius: 16px;
        position: relative;
        align-self: center;
        text-align: center;
        margin-bottom: 2rem;
    }
    
    /* icons for sm links with pseudo classes */
    .ig::before {
        transform: scale(0.75);
        position: absolute;
        content: url(assets/Icon\ awesome-instagram.svg);
        bottom: 64px;
        left: 29%;
        
        
    }
    .fb::before {
        transform: scale(0.75);
        position: absolute;
        content: url(assets/Icon\ metro-facebook.svg);
        bottom: 64px;
        left: 29%;
        
    }
    .yt::before {
        transform: scale(0.75);
        position: absolute;
        content: url(assets/Icon\ awesome-youtube-square.svg);
        bottom: 64px;
        left: 29%;
        
    }
    
    
    
    
    /* FOOTER SECTION */
    footer {
        padding: 4% 6%;
        max-width: 100%;
        background-color: black;
    }
    
    /* flex container */
    .footer__links {
        color: var(--lightGrey);
        font-size: 0.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center ;
        align-items: center;
    }
    
    span:nth-of-type(2) {
        margin-left: 0;
        margin-right: 0;
    }  

    span {
        margin-bottom: 1rem;
    }
}

/* TABLET */
@media screen and (min-width:577px) and (max-width:991px) {

    h2 {
        font-size: 3rem;
    }
    header {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 0.75rem 6%;
        position: fixed;
        top: 0;
        z-index: 999;
    }
    

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }
    
    /* hamburger */
    .header__menu span {   
        display: block;
    }

    .logo {
        font-weight: bold;
        font-size: 1rem;
    }
    
    ul {
        display: none;
       
    }


    .header__mobile.open {
        display: block;
        margin-top: 4%;
        opacity: 1;
    }

    .header__mobile.open li{
        margin: 1%;
        font-size: 1.2rem;
        margin: 6% 0;

    }

    section {
        padding: 0 6%;
        max-width: 100%;
    }
    
    /* HERO SECTION */
    .section1 {
        margin-top: 4rem;
    }
    
    /* parent flexbox */
    .hero {
        display: flex;
        max-width: 100%;
        justify-content: space-evenly;
        align-items: center;
        }
    
    /* div flex child for image */
    .heroImage {
        max-width: 50%;
            
    
    }
    .image {
        display: block;
        height: auto;
        max-width: 90%;
        margin-right: auto;
        margin-top: 1px;
        
        
    }
    
    /* div flex child for text */
    .heroText {
        max-width: 50%;
        
    }
    
    .heroText h2 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
        line-height: 1;
    
    }
    
    /* VIDEOS & podcasts SECTION */
    .section2 {
        background-color: black;
        padding-top: 6%;
        padding-bottom: 6%;
        text-align: center;
    }
    
    .section2 h2 {
        color: var(--yellow);
        line-height: 1;
        margin-bottom: 4%;
    }
    

    
    /* video wrapper to make the iframes responsive and maintain aspect ratio */
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
    }
    
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    /* SOCIAL MEDIA SECTION */
    .section3 {
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
    }
    
    .section3 h2 {
        line-height: 1;
        margin-bottom: 4%;
    }
    
    

    
    /* cards for social media */
    .sm__links a {
        color: var(--darkGrey);
        font-size: 0.875rem;
        padding: 32px;
        padding-top: 116px;
        border: 1px solid var(--darkGrey);
        border-radius: 16px;
        position: relative;
        align-self: center;
        text-align: center;
        margin-bottom: 2rem;
    }
    
    /* icons for sm links with pseudo classes */
    .ig::before {
        transform: scale(0.75);
        position: absolute;
        content: url(assets/Icon\ awesome-instagram.svg);
        bottom: 64px;
        left: 29%;
        
        
    }
    .fb::before {
        transform: scale(0.75);
        position: absolute;
        content: url(assets/Icon\ metro-facebook.svg);
        bottom: 64px;
        left: 29%;
        
    }
    .yt::before {
        transform: scale(0.75);
        position: absolute;
        content: url(assets/Icon\ awesome-youtube-square.svg);
        bottom: 64px;
        left: 29%;
        
    }
    
    
    
    
    /* FOOTER SECTION */
    footer {
        padding: 4% 6%;
        max-width: 100%;
        background-color: black;
    }
    

}