@font-face {
    font-family: 'LEMON MILK';
    src: url('fonts/LEMONMILK-Bold.woff2') format('woff2'),
        url('fonts/LEMONMILK-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LEMON MILK';
    src: url('fonts/LEMONMILK-Light.woff2') format('woff2'),
        url('fonts/LEMONMILK-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Squirk';
    src: url('fonts/Squirk.woff2') format('woff2'),
        url('fonts/Squirk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --yellow: #fff200;
    --darkGrey: #494748;
    --lightGrey: #D2D2D2;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


body {
    
    font-family: 'LEMON MILK', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;    
    /* // line-height: 1.3; */
    background-color: var(--yellow);
}

a, a:visited, a:hover {
    text-decoration: none;
    color: var(--lightGrey);    
}

h2 {
    font-family: 'Squirk', sans-serif;
    font-size: 72px;
    font-weight: normal;
    color: var(--darkGrey);
}

/* Styling for nav bar */
header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1rem 10%;
    position: fixed;
    top: 0;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-left: 2.5rem;
}


section {
    padding: 0 10%;
    max-width: 100%;
}

/* HERO SECTION */
.section1 {
    margin-top: 5rem;
}

/* parent flexbox */
.hero {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* div flex child for image */
.heroImage {
    max-width: 50%;
        

}
.image {
    display: block;
    height: auto;
    max-width: 80%;
    margin-right: auto;
    margin-top: 1px;
    
    
}

/* div flex child for text */
.heroText {
    max-width: 50%;
    
}

.heroText h2 {
    margin-bottom: 3.5rem;
    line-height: 1;

}

/* VIDEOS & podcasts SECTION */
.section2 {
    background-color: black;
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
}

.section2 h2 {
    color: var(--yellow);
    line-height: 1;
    margin-bottom: 4%;
}

/* grid for videos/podcasts */
.grid {
    display: grid;
    grid: repeat(2, 1fr) / repeat(2,1fr);
    gap: 40px 24px;
}

/* video wrapper to make the iframes responsive and maintain aspect ratio */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* SOCIAL MEDIA SECTION */
  .section3 {
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
}

.section3 h2 {
    line-height: 1;
    margin-bottom: 4%;
}


.sm__links {
    display: flex;
    justify-content: space-evenly;
}

/* cards for social media */
.sm__links a {
    color: var(--darkGrey);
    padding: 40px;
    padding-top: 164px;
    /* background: whitesmoke; */
    border: 1px solid var(--darkGrey);
    border-radius: 16px;
    position: relative;
    align-self: center;
    text-align: center;
}

/* icons for sm links with pseudo classes */
.ig::before {
    position: absolute;
    content: url(assets/Icon\ awesome-instagram.svg);
    bottom: 96px;
    left: 82px;
    
}
.fb::before {
    position: absolute;
    content: url(assets/Icon\ metro-facebook.svg);
    bottom: 96px;
    left: 82px;
    
}
.yt::before {
    position: absolute;
    content: url(assets/Icon\ awesome-youtube-square.svg);
    bottom: 96px;
    left: 82px;
    
}




/* FOOTER SECTION */
footer {
    padding: 1.6% 10%;
    max-width: 100%;
    background-color: black;
}

.footer__links {
    color: var(--lightGrey);
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between ;
}

span:nth-of-type(2) {
    margin-left: auto;
    margin-right: 2%;
}